/* game interface, game board, animations for game elements */

body {

    --interface-text: rgb(34, 28, 28);
}

#gameboard, #gameboard td {

    border-spacing: 0;
    border: 2px solid;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    background-color: bisque;
    margin: 0px auto;

}

#gameboard tr td {

    width: 28pt;
    height: 28pt;

    user-select: none;

}

#row1 {

    background-color: var(--button-background);

}

#keypad {

    margin: 0 auto;
    background-color: var(--interface-text);
    border-radius: 15pt;
    padding: 10px 12px;
    margin-top: 10px;

}

#keypad tr td {

    background-image: url(../images/keycap\(219x219\).png);
    background-size: cover;
    
    border-spacing: 5px;

    color: var(--interface-text);

    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    width: 1.5em;
    height: 1.5em;

    cursor: pointer;
    user-select: none;

}

.emptykey {

    visibility: hidden;
}