/* game interface, game board, animations for game elements */

#gameboard, #gameboard td {

    border-spacing: 0;
    border: 2px solid;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    background-color: bisque;
    margin: 0px auto;

}

#gameboard tr td {

    width: 28pt;
    height: 28pt;

}

#row1 {

    background-color: var(--button-background);

}