/*  header, footer, nav, 
    page (background, colour values, etc.), game instructions 
*/

body {
    --background-colour: rgb(195, 129, 21);
    --element-border: rgb(13, 13, 13); 
    --text-colour: rgb(2, 2, 155);
    --element-background:  rgb(201, 83, 83);

    background-color: var(--background-colour);
    margin: 2% 10px;
    border: var(--element-border) 3px solid;
    padding: 1%;

    font-family: Arial, Helvetica, sans-serif;
}

header {

    font-size: 40pt;
    font-weight: bold;

    color: var(--text-colour);
    text-align: center;

}

nav {

    font-size: 16pt;
    text-align: right;

}

#instructions {

    visibility: hidden;

}

footer {

    background-color: var(--element-background);
    text-align: center;
    font-size: 14pt;

}